@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: "Open Sans", sans-serif;
    background: white;
}

.globalButtonRadius {
    border-radius: 10px;
}

.globalCardRadius {
    border-radius: 17px;
}

.globalMediumRadius {
    border-radius: 7px;
}

.globalBgColor {
    background-color: #0F4C81;
}

.globalTextColor {
    color: #006591;
}

.globalBorderColor {
    border-color: #0F4C81;
}

.globalBorder {
    border-width: 2px;
    border-style: solid;
    border-color: #8faec9;
}
/* .globalBorder {
    border-width: 2px;
    border-style: solid;
    border-color: #92b5d3;
} */


@layer utilities {
    .app-container {
        @apply w-full max-w-[2150px] mx-auto px-4 sm:px-6 lg:px-8 mt-20;
    }
}